@define-color bg-deep        #16161d;
@define-color bg-surface     #2a2b38;
@define-color fg-main        #dcd7ba;
@define-color glow-purple    #c6a0f6;
@define-color glow-cyan      #91d7e3;
@define-color dark-violet    #431259;
@define-color red-accent     #c34043;
/* half of the stuff probably doesn't do anything */
* {
  font-family: "Google Sans", monospace;
  border-radius: 12px;
  outline: none;
  box-shadow: none;
}

.widget-title > label {
  font-weight: 800;
  font-size: 1.4rem;
  color: @glow-purple;
}

.control-center {
  background: rgba(22, 22, 29, 0.95);
  border: 2px solid @dark-violet;
  border-radius: 15px;
}

.control-center-clear-all{
  font-size: 15px;
  font-weight: 300;
  border-radius: 12px;
}

.notification {
  background: @bg-surface;
  border: 2px solid @dark-violet;
  margin: 4px 2px;
  border-radius: 12px;
  padding: 6px 15px 10px 8px;
}

.notification-group > box > box > .notification {
    background: rgba(22, 22, 29, 0.8);
    margin-top: -2px; 
    border-top: 1px solid rgba(67, 18, 89, 0.5);
}

.notification-group > box > box > .notification:first-child {
    background: @bg-surface;
    margin-top: 5px;
}

.notification-row,
.notification-row:hover,
.notification-row:focus {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
}

.summary {
  font-size: 15px;
  font-weight: 700;
  color: @glow-purple;
}

.body, .time {
  color: @fg-main;
}

.widget-mpris {
    background: @bg-surface;
    border-radius: 12px;
    margin: 4px 8px 0px 8px; 
    padding: 0;
}

.widget-mpris-player {
    background: @bg-surface;
    border-radius: 12px;
    padding: 10px;
    margin: 0;
}

.widget-mpris-album-art {
    all: unset;
    border-radius: 12px;
    margin-left: 6px;
    margin-bottom: -57px;
}

.widget-mpris-title {
    font-weight: 500;
    font-size: 1.2rem;
    color: @fg-main;
    margin-bottom: 0px;
}

.widget-mpris-subtitle {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(220, 215, 186, 0.6);}

.widget-mpris > box {
    margin-top: 5px;
}

.widget-mpris > box > button {
    background: transparent;
    color: @glow-purple;
    font-size: 1.3rem;
    margin: 0 10px;
    padding: 0;
}

.widget-buttons-grid {
  background: @bg-surface;
  margin: 8px;
  padding: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  background: @bg-deep;
  color: @glow-purple;
  margin: 4px;
  min-width: 60px;
  min-height: 45px;
  font-size: 1.2rem;
  border: 1px solid transparent;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(237, 135, 150, 0.70);
  color: @bg-deep;
}

.widget-title > button {
  background: @bg-deep;
  color: @glow-purple;
  border: 1px solid @dark-violet;
  border-radius: 8px;
}

.close-button {
  background: @red;
  color: @fg-bright;
  text-shadow: none;
  padding: 0;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  border-radius: 5px;
  border: none;
}

.close-button:hover, 
.widget-title > button:hover {
  background: @red-accent;
  color: @bg-deep;
  border: 1px solid @red-accent;
}

.widget-dnd {
  background: @bg-surface;
  color: @glow-purple;
  padding: 8px;
}

.widget-dnd > switch {
  background: @bg-deep;
  border-radius: 20px;
}

.widget-dnd > switch:checked {
  background: @glow-purple;
}

